body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333
}

header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

section#movie-list {
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 10px;
    background: #4caf50;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}